@font-face {
	font-family: "d_cyberspace"; 
	src: url("../fonts/d_cyberspace/19176.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 
@font-face {
	font-family: "CyberSiberia"; 
	src: url("../fonts/CyberSiberia/Cyberfall-Italic.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 